In [24]:
# Import pandas library with alias 'pd'
import pandas as pd
# Create a Period object representing the year 2022
y  = pd.Period('2022')
# Display the Period object
y

Period('2022', 'Y-DEC')

In [26]:
# Access the start_time attribute of the y object
# This likely retrieves when an event or process began
y.start_time

Timestamp('2022-01-01 00:00:00')

In [9]:
# Access the start_time attribute of the y object
# This likely retrieves when an event or process end
y.end_time

Timestamp('2022-12-31 23:59:59.999999999')

In [27]:
# Create a pandas Period object representing January 2022 with monthly frequency ('M')
# Period objects are used for representing time spans like months, quarters, years
me = pd.Period('2022-01',freq = "M")
# Display the Period object
me

Period('2022-01', 'M')

In [28]:
# Access the start_time attribute of the 'me' object
# This likely retrieves when a process or task was initiated
me.start_time

Timestamp('2022-01-01 00:00:00')

In [14]:
# Access the start_time attribute of the 'me' object
# This likely retrieves when a process or task was ended
me.end_time

Timestamp('2022-01-31 23:59:59.999999999')

In [29]:
# Create a Period object representing January 2022 with hourly frequency
h = pd.Period('2022-01', freq="h")
# Get the timestamp representing the start of this period
h.start_time

Timestamp('2022-01-01 00:00:00')

In [19]:
# Get the timestamp representing the start of this period
h.end_time

Timestamp('2022-01-01 00:59:59.999999999')

In [30]:
h+1  # Increment the variable h by 1

Period('2022-01-01 01:00', 'h')

In [31]:
me+1 # Increment the variable h by 1

Period('2022-02', 'M')

In [40]:
# Create a Period object representing the first quarter of 2019
q2 = pd.Period('2019Q1')
# Display the Period object
q2

Period('2019Q1', 'Q-DEC')

In [41]:
# Create a pandas Period object representing the 4th quarter of 2018
q1 = pd.Period('2018Q4')
# Display the Period object
q1

Period('2018Q4', 'Q-DEC')

In [45]:
idx = pd.period_range('2011','2017',freq = "Q-JAN")
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [47]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [48]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [55]:
import numpy as np
import pandas as pd

# Assuming idx is a PeriodIndex object
# Create a Series with random values indexed by idx
ps = pd.Series(np.random.randn(len(idx)), index=idx)
# Use len(idx) for array size and idx as the index
ps

2011Q4   -0.159484
2012Q1   -1.515482
2012Q2    0.391866
2012Q3    1.595867
2012Q4    0.827201
2013Q1   -0.287336
2013Q2    2.428093
2013Q3   -0.274191
2013Q4    1.427770
2014Q1    0.052879
2014Q2   -0.753222
2014Q3   -0.282794
2014Q4    1.293384
2015Q1   -1.500160
2015Q2    0.887914
2015Q3   -0.773408
2015Q4    1.064887
2016Q1    0.943480
2016Q2   -0.572587
2016Q3   -1.085079
2016Q4   -0.290585
2017Q1   -1.562336
2017Q2   -0.899489
2017Q3    1.967587
2017Q4    1.046961
Freq: Q-JAN, dtype: float64

In [56]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [59]:
ps['2011':'2014']

2011Q4   -0.159484
2012Q1   -1.515482
2012Q2    0.391866
2012Q3    1.595867
2012Q4    0.827201
2013Q1   -0.287336
2013Q2    2.428093
2013Q3   -0.274191
2013Q4    1.427770
2014Q1    0.052879
2014Q2   -0.753222
2014Q3   -0.282794
2014Q4    1.293384
2015Q1   -1.500160
2015Q2    0.887914
2015Q3   -0.773408
2015Q4    1.064887
Freq: Q-JAN, dtype: float64

In [61]:
pst = ps.to_timestamp()
pst

2010-11-01   -0.159484
2011-02-01   -1.515482
2011-05-01    0.391866
2011-08-01    1.595867
2011-11-01    0.827201
2012-02-01   -0.287336
2012-05-01    2.428093
2012-08-01   -0.274191
2012-11-01    1.427770
2013-02-01    0.052879
2013-05-01   -0.753222
2013-08-01   -0.282794
2013-11-01    1.293384
2014-02-01   -1.500160
2014-05-01    0.887914
2014-08-01   -0.773408
2014-11-01    1.064887
2015-02-01    0.943480
2015-05-01   -0.572587
2015-08-01   -1.085079
2015-11-01   -0.290585
2016-02-01   -1.562336
2016-05-01   -0.899489
2016-08-01    1.967587
2016-11-01    1.046961
Freq: QS-NOV, dtype: float64

In [63]:
import pandas as pd
df = pd.read_csv("/Users/rohankondhalkar/Desktop/Pandas/wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [72]:
df.rename(columns={'Line Item ': 'Line_Item'}, inplace=True)

In [74]:
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [75]:
df = df.T

In [80]:
df.index  = pd.PeriodIndex(df.index,freq = 'Q-JAN')
df

Line Item  Revenue  Expenses  Profit
2018Q1      115904     86544   29360
2018Q2      120854     89485   31369
2018Q3      118179     87484   30695
2018Q4      130936     97743   33193
2019Q1      117542     87688   29854