In [29]:
# Import pandas library for data manipulation and analysis
import pandas as pd
# Read the CSV file containing Apple stock data without dates into a DataFrame
df = pd.read_csv("/Users/rohankondhalkar/Desktop/Pandas/aapl_no_dates.csv")
# Display the first 5 rows of the DataFrame to preview the data
df.head()

     Open    High     Low   Close    Volume
0  153.17  153.33  152.22  153.18  16404088
1  153.58  155.45  152.89  155.45  27770715
2  154.34  154.45  153.46  153.93  25331662
3  153.90  155.81  153.78  154.45  26624926
4  155.02  155.98  154.48  155.37  21069647

In [42]:
# Create a business day date range from January 1, 2017 to January 31, 2017
# 'B' frequency means only business days (Monday to Friday) are included
rng = pd.date_range(start="7/1/2017", end="8/1/2017", freq="B")

In [43]:
# Set the DataFrame index to the previously created date range (rng)
# The inplace=True parameter modifies the DataFrame directly without returning a copy
df.set_index(rng,inplace = True)
# Display the DataFrame with the new datetime index
df

              Open    High     Low   Close    Volume
2017-07-03  153.17  153.33  152.22  153.18  16404088
2017-07-04  153.58  155.45  152.89  155.45  27770715
2017-07-05  154.34  154.45  153.46  153.93  25331662
2017-07-06  153.90  155.81  153.78  154.45  26624926
2017-07-07  155.02  155.98  154.48  155.37  21069647
2017-07-10  155.25  155.54  154.40  154.99  21250798
2017-07-11  155.19  155.19  146.02  148.98  64882657
2017-07-12  145.74  146.09  142.51  145.42  72307330
2017-07-13  147.16  147.45  145.15  146.59  34165445
2017-07-14  147.50  147.50  143.84  145.16  31531232
2017-07-17  143.32  144.48  142.21  144.29  32165373
2017-07-18  143.78  144.50  142.20  142.27  50361093
2017-07-19  143.66  146.74  143.66  146.34  32541404
2017-07-20  146.87  146.87  144.94  145.01  24900073
2017-07-21  145.52  146.07  144.61  145.87  21265751
2017-07-24  145.77  146.70  145.12  145.63  19106294
2017-07-25  145.13  147.16  145.11  146.28  35439389
2017-07-26  147.17  148.28  145.38  145.82  25692361
2017-07-27  145.01  146.16  143.62  143.73  24761891
2017-07-28  144.49  146.11  143.16  145.83  22082432
2017-07-31  144.71  145.13  142.28  143.68  31499368
2017-08-01  144.45  144.96  143.78  144.02  23024107

In [38]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

# Import the US Federal Holiday Calendar and CustomBusinessDay from pandas
# USFederalHolidayCalendar provides a calendar of US federal holidays
# CustomBusinessDay creates a business day offset that excludes holidays

# Create a custom business day object that excludes US federal holidays
# This will be useful for date calculations that should skip weekends and holidays
usb = CustomBusinessDay(calendar=USFederalHolidayCalendar())
usb  # Display the CustomBusinessDay object

In [52]:
rng = pd.date_range(start="07/01/2017", end="08/2/2017", freq=usb)
rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21', '2017-07-24', '2017-07-25',
               '2017-07-26', '2017-07-27', '2017-07-28', '2017-07-31',
               '2017-08-01', '2017-08-02'],
              dtype='datetime64[ns]', freq='C')

In [54]:
df.set_index(rng,inplace = True)
df

              Open    High     Low   Close    Volume
2017-07-03  153.17  153.33  152.22  153.18  16404088
2017-07-05  153.58  155.45  152.89  155.45  27770715
2017-07-06  154.34  154.45  153.46  153.93  25331662
2017-07-07  153.90  155.81  153.78  154.45  26624926
2017-07-10  155.02  155.98  154.48  155.37  21069647
2017-07-11  155.25  155.54  154.40  154.99  21250798
2017-07-12  155.19  155.19  146.02  148.98  64882657
2017-07-13  145.74  146.09  142.51  145.42  72307330
2017-07-14  147.16  147.45  145.15  146.59  34165445
2017-07-17  147.50  147.50  143.84  145.16  31531232
2017-07-18  143.32  144.48  142.21  144.29  32165373
2017-07-19  143.78  144.50  142.20  142.27  50361093
2017-07-20  143.66  146.74  143.66  146.34  32541404
2017-07-21  146.87  146.87  144.94  145.01  24900073
2017-07-24  145.52  146.07  144.61  145.87  21265751
2017-07-25  145.77  146.70  145.12  145.63  19106294
2017-07-26  145.13  147.16  145.11  146.28  35439389
2017-07-27  147.17  148.28  145.38  145.82  25692361
2017-07-28  145.01  146.16  143.62  143.73  24761891
2017-07-31  144.49  146.11  143.16  145.83  22082432
2017-08-01  144.71  145.13  142.28  143.68  31499368
2017-08-02  144.45  144.96  143.78  144.02  23024107

In [64]:

from pandas.tseries.holiday import AbstractHolidayCalendar, Holiday, nearest_workday
# Imports classes needed to define custom holidays and their observance rules

from pandas.tseries.offsets import CustomBusinessDay
# Used to create a custom business day frequency that can exclude specific holidays

import pandas as pd
# Core pandas library (not strictly required in this snippet, but commonly used with date operations)

class myBirthDayCalendar(AbstractHolidayCalendar):
    # Defines a custom holiday calendar by extending AbstractHolidayCalendar

    rules = [
        Holiday("Rohan Kondhalkar's Birth Day", month=9, day=22)
        # Declares a holiday that occurs every year on September 22

        # Holiday("Rohan Kondhalkar's Birth Day", month=9, day=22, observance=nearest_workday)
        # Alternative version: if the birthday falls on a weekend,
        # the holiday is observed on the nearest working day
    ]

myc = CustomBusinessDay(calendar=myBirthDayCalendar())
# Creates a custom business day offset that treats the defined birthday
# as a non-working day in date calculations

myc
# Displays the CustomBusinessDay object showing its configuration

In [59]:
pd.date_range(start = "9/1/2003",end="9/30/2003",freq=myc) #Custom Calender Used for the same

DatetimeIndex(['2003-09-01', '2003-09-02', '2003-09-03', '2003-09-04',
               '2003-09-05', '2003-09-08', '2003-09-09', '2003-09-10',
               '2003-09-11', '2003-09-12', '2003-09-15', '2003-09-16',
               '2003-09-17', '2003-09-18', '2003-09-19', '2003-09-23',
               '2003-09-24', '2003-09-25', '2003-09-26', '2003-09-29',
               '2003-09-30'],
              dtype='datetime64[ns]', freq='C')

In [65]:
# Define a custom business day where business days are Sunday to Thursday
# (Friday and Saturday are excluded as non-working days)
c = CustomBusinessDay(weekmask="Sun Mon Tue Wed Thu")

# Generate a date range from September 1, 2003 to September 30, 2003
# using the custom business day frequency defined above
pd.date_range(start="9/1/2003", end="9/30/2003", freq=c)

DatetimeIndex(['2003-09-01', '2003-09-02', '2003-09-03', '2003-09-04',
               '2003-09-07', '2003-09-08', '2003-09-09', '2003-09-10',
               '2003-09-11', '2003-09-14', '2003-09-15', '2003-09-16',
               '2003-09-17', '2003-09-18', '2003-09-21', '2003-09-22',
               '2003-09-23', '2003-09-24', '2003-09-25', '2003-09-28',
               '2003-09-29', '2003-09-30'],
              dtype='datetime64[ns]', freq='C')