In [7]:
import pandas as pd
df = pd.read_csv("/Users/rohankondhalkar/Downloads/weather_data.csv")
df # Prints all the data element present in the csv file.

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [11]:
df.head() # Specific number which will retrive from the start of csv file.

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [13]:
df.tail(2) # Specific number which will retrive from the end of csv file.

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [14]:
df[1:5] # If you want to print specific numnber of data

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [17]:
df['event'] # The String pass in the '' should be same as csv file name other wise it will throw error

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [18]:
df['Events'] # It will throw error as no coloumn name as 'Event'.

KeyError: 'Events'

In [19]:
type(df) # It will print the type of df which retrurns the lib and all details

pandas.core.frame.DataFrame

In [21]:
df[['event','day']] # We have pass the list to print the coln data

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [23]:
df.temperature.max() # we can also use this for df['temperature'].max() max() is built in function

35

In [24]:
df['temperature'].min()

24

In [25]:
df.temperature.mean()

np.float64(30.333333333333332)

In [26]:
df.temperature.sum()

np.int64(182)

In [27]:
df.temperature.median()

31.5

In [28]:
df.temperature.mode()

0    32
Name: temperature, dtype: int64

In [30]:
df.describe() # Here the describe activity is done on numerical value on order to find variuos values

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [31]:
df[df.temperature > 30] #To find out the specific condition we can do as following

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [36]:
df[df.temperature ==  df.temperature.max()] #To find out the specific condition we can do as following

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [37]:
df[['day','temperature']][df.temperature ==  df.temperature.max()] #To find out the specific condition we can do as following

        day  temperature
1  1/2/2017           35

In [54]:
df.reset_index(inplace = True) # reset the index to o to 6

In [46]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [52]:
# Set the 'day' column as the index of the dataframe
# The 'inplace=True' parameter modifies the dataframe directly instead of returning a new one
df.set_index('day', inplace = True)

In [55]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [57]:
df.loc[0] # Give the location of data

day            1/1/2017
temperature          32
windspeed             6
event              Rain
Name: 0, dtype: object