In [1]:
import pandas as pd
df = pd.read_csv('/Users/rohankondhalkar/Desktop/Pandas/stock_data.csv');
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [3]:
# Import pandas library for data manipulation and analysis
import pandas as pd

# Read CSV file into a pandas DataFrame
# The file path is specified as '/Users/rohankondhalkar/Desktop/Pandas/stock_data.csv'
# The 'na_values' parameter specifies strings that should be recognized as NaN/NA values
df = pd.read_csv('/Users/rohankondhalkar/Desktop/Pandas/stock_data.csv',na_values = ['n.a.','not available']);

# Display the DataFrame
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3    RIL     NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

In [6]:
# Read CSV file with custom NA values for specific columns
# - 'eps' column: 'not available' will be treated as NA
# - 'revenue' column: -1 will be treated as NA
# - 'people' column: both 'not available' and 'n.a.' will be treated as NA
# - 'price' column: both 'not available' and 'n.a.' will be treated as NA
df = pd.read_csv('/Users/rohankondhalkar/Desktop/Pandas/stock_data.csv',  na_values={
        'eps': ['not available'],
        'revenue': [-1],
        'people': ['not available','n.a.'],
        'price':['not available','n.a.']
    })
df  # Display the dataframe

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [10]:
df.to_csv("/Users/rohankondhalkar/Desktop/Pandas/NewDataForStock.csv")

In [11]:
df.to_csv("/Users/rohankondhalkar/Desktop/Pandas/NewDataColnTrims.csv", columns=["tickers","price"], index=False)